.bookmark {
    width: 360px;
    background: #ffffff;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
}

.bookmark:after {
    content: '';
    position: absolute;
    left: 82px;
    bottom: -70px;
    width: 195px;
    height: 140px;
    background: #ffffff;
    -webkit-transform: rotate(23deg) skew(-45deg);
        -ms-transform: rotate(23deg) skew(-45deg);
            transform: rotate(23deg) skew(-45deg);
    z-index: -1;
}

.square-bunch {
    width: 46px;
    height: 42px;
    margin: 0 auto 20px auto;
    background: url(/static/desktop/images/square-bunch.png);
}

.logo__text {
    height: 30px;
    font-size: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 30px;
}

.logo__text--gray {
    color: #b7b7b7;
}

.square-line-short {
    width: 50px;
    height: 11px;
    margin: 0 auto 30px auto;
    background: url(/static/desktop/images/square-line-short.png);
}

.bookmark__nav {
    width: 280px;
    margin: 0 auto 30px auto;
    font-size: 0;
}

.bookmark__navlinks {
    width: 93px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 1.7;
    border: 1px solid rgba(183, 183, 183, .3);
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #232323;
    -webkit-font-smoothing: antialiased;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.bookmark__navlinks:hover {
    background: #f1f1f1;
}

.bookmark__navlinks--active, .bookmark__navlinks--active:hover {
    background: #089e95;
    color: #ffffff;
    border: 1px solid #089e95;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.bookmark__navlinks--active:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    width: 10px;
    height: 10px;
    background: #089e95;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.bookmark__navlinks--midl {
    border-right: none;
    border-left: none;
}

.bookmark__item {
    width: 280px;
    margin: 0 auto 40px auto;
    display: none;
}

.bookmark__item--active {
    display: block;
}

.bookmark__row {
    font-size: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    padding: 10px 0;
    border-bottom: 1px solid rgba(183, 183, 183, .3);
}

.bookmark__row--header .bookmark__col {
    font-size: 13px;
    font-weight: 700;
    color: #d0d0d0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.bookmark__row--body .bookmark__col {
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
}

.bookmark__col {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.bookmark__col.align-right {
    text-transform: uppercase;
}

.bookmark__item--best .bookmark__col {
    width: 33%;
}

.bookmark__item--exchange .bookmark__row--body .bookmark__col.align-right {
    text-transform: none;
}

.exchange-from {
    cursor: pointer;
}

.exchange-from--active {
    cursor: default;
    color: #ffffff;
    background: #089e95;
    padding: 5px 10px;
    margin-left: -10px;
    border-radius: 3px;
}

.bookmark__item--exchange .underlined {
    text-transform: none;
    color: #089e95;
}

.bookmark__item--exchange .underlined:after {
    background: #089e95;
}

.bookmark__item--exchange .underlined:hover {
    color: #00857d;
}

.bookmark__item--exchange .underlined:after {
    background: #00857d;
}

.bookmark__item--exchange {
    font-size: 0;
}

.bookmark__item--exchange .bookmark__row {
    font-size: 15px;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.bookmark__item--exchange .bookmark__row--header {
    font-size: 0px;
}

.bookmark__item--exchange .bookmark__row--body {
    position: relative;
}

.bookmark__item--exchange .bookmark__row--body:after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(233, 233, 233, 1);
}

.bookmark__item--exchange .align-left .bookmark__row--body:after {
    right: -100%;
    bottom: -1px;
}

.bookmark__item--exchange .align-right .bookmark__row--body:after {
    left: -100%;
    bottom: 0;
}

.bookmark__row--body--hidden {
    display: none;
}

.terms__bookmark {
    width: 280px;
    margin: 0 auto;
}

.terms__title.title4 {
    text-transform: none;
    text-align: center;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
}

.terms__text {
    font-size: 15px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1a1a1a;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}

.form__input--terms {
    width: 280px;
    margin-bottom: 22px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}