@import url("form.css");
@import url("table.css");
@import url("select.css");
@import url("pagination.css");
@import url("bookmark.css");
@import url("header.css");
@import url("footer.css");
@import url("main-exchange.css");
@import url("main-features.css");
@import url("main-description.css");
@import url("main-reviews.css");
@import url("main-news.css");
@import url("step2.css");
@import url("step3.css");
@import url("order_completed.css");
@import url("order_processing.css");
@import url("sign_up.css");
@import url("log_in.css");
@import url("rates.css");
@import url("contacts.css");
@import url("personal.css");
@import url("faq.css");
@import url("news.css");
@import url("reviews.css");

body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

body {
    background: #f1f1f1;
    position: relative;
    min-width: 1230px;
}

button, input, textarea {
    outline: 0;
    box-shadow: none;
    border: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

h1 {
    font-size: 48px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.title2 {
    font-size: 24px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title3 {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 10px 0;
}

.title3--light {
    color: #ffffff;
}

.title3--dark {
    color: #1f1f1f;
}

.title3:after {
    content: '';
    position: relative;
    left: 10px;
    top: 3px;
    width: 22px;
    height: 21px;
    display: inline-block;
    background: url(/static/desktop/images/icon-alert.png) no-repeat;
    visibility: hidden;
}

.title4 {
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title4--red {
    color: #ff535f;
}

a {
    text-decoration: none;
}

ul, li {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.button {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.button--red {
    width: 280px;
    background: #ff535f;
    border-radius: 3px;
    padding: 20px 25px 14px 25px;
    font-size: 18px;
    position: relative;
    text-align: left;
}

.button--red:hover {
    background: #e1404b;
}

.button--turquoise {
    background: #089e95;
    padding: 13px 20px 9px 20px;
    font-size: 12px;
    display: block;
    margin: 0 auto;
}

.button--turquoise:hover {
    background: #136964;
}

.bookmark .button--turquoise {
    padding: 11px 20px 7px 20px;
    font-size: 14px;
}

.button__image {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -4px;
    background: url(/static/desktop/images/icon-to2.png) no-repeat;
}

.error {
    background: #ff535f;
    padding: 20px 25px;
    border-radius: 3px;
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    margin: 15px 0;
    text-align: left;
    display: none;
}

.error--bookmark {
    font-size: 17px;
    border-radius: 0;
}

.container-1230px {
    width: 1230px;
    position: relative;
    margin: 0 auto;
}

.container-1230px--absolute {
    position: absolute;
    left: 0;
    right: 0;
    text-align: left;
}

.container-820px {
    width: 820px;
    margin-left: 400px;
}

.main {
    position: relative;
    padding-top: 15px;
}

.step2, .step3, .order_completed, .order_processing, .sign_up, .log_in, .rates, .contacts, .personal, .faq, .news, .reviews {
    padding: 15px 0;
}

.background {
    min-width: 1230px;
    width: 100%;
    background: url(/static/desktop/images/bg.jpg) no-repeat;
    position: absolute;
    top: 113px;
    left: 0;
}

.whitefield {
    background: #ffffff;
    border-radius: 3px;
    padding: 30px 35px;
    box-sizing: border-box;
    margin-bottom: 15px;
    text-align: left;
}

.whitefield .title4 {
    margin-bottom: 15px;
}

.text-whitefield {
    font-size: 17px;
    color: #787878;
    line-height: 1.5;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.text-greenfield {
    font-size: 19px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

.timer {
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
}

.timer__img {
    background: url(/static/desktop/images/icon-watch.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.timer__text {
    display: inline-block;
    vertical-align: middle;
}

.currency-img {
    width: 28px;
    height: 29px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: bottom;
}

.padded-field {
    padding-bottom: 110px;
}

.autorization-form h4, .autorization-form .text-greenfield {
    margin-bottom: 15px;
}

.autorization-form .text-whitefield {
    margin: 0 auto 15px auto;
}

.autorization-form label {
    display: table;
    margin-bottom: 15px;
}

.autorization-form .checkbox label {
    display: inline;
}

.autorization-form .form__title, .autorization-form .form__input {
    display: table-cell;
}

.autorization-form .button__image {
    margin-left: 90px;
}

.twocol {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.twocol:last-child label {
    float: right;
}

.autorization-form .checkbox {
    margin-top: 20px;
}

.checkbox {
    display: inline-block;
}

.loader--big {
    width: 50px;
    height: 50px;
    margin: 20px 35px;
    padding: 5px 0;
}

.float-right.button {
    margin: 20px 0;
}

.float-right {
    float: right;
}

.underlined {
    position: relative;
}

.underlined:after {
    content: '';
    position: absolute;
    left: 0;
    top: none;
    bottom: 1px;
    width: 100%;
    height: 1px;
}