.form__input {
    height: 42px;
    border-radius: 3px;
    border: 0;
    padding: 5px 25px 0 25px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #232323;
    -webkit-font-smoothing: antialiased;
}

.form__textarea {
    height: 120px;
    padding-top: 15px;
    resize: none;
}

.form__input--whitefield {
    background: #f1f1f1;
    border: 1px solid #ccc;
}

.form__input--250 {
    width: 250px;
}

.form__input--305px {
    width: 305px;
}

.form__input--350 {
    width: 350px;
}

.form__input--510 {
    width: 510px;
}

.form--error input {
    border: 3px solid #ff535f;
}

.form--error h3:after, .form--error .form__label:after {
    visibility: visible;
}

.form__input:focus {
    border: 1px solid #089e95;
}

.form__title {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #323232;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

.form--error .form__title {
    color: #ff535f;
}

.form__title:after {
  content: '';
  position: relative;
  left: 10px;
  top: 3px;
  width: 22px;
  height: 21px;
  display: inline-block;
  background: url(/static/desktop/images/icon-alert.png) no-repeat;
  visibility: hidden;
}

.form--error .form__title:after {
    visibility: visible;
}

.form__row label {
    display: table;
    margin-bottom: 15px;
}

.form__row .form__title, .form__row .form__input, .form__row .form__textarea {
    display: table-cell;
    vertical-align: baseline;
}

.form__row .form__textarea {
    vertical-align: top;
}

.form__row .form__title {
    width: 240px;
}

.twocol .form__title {
    width: 105px;
}

.twocol .form__input {
    width: 250px;
}

::-webkit-input-placeholder {
    color: #939393;
}

::-moz-placeholder {
    color: #939393;
}

:-ms-input-placeholder {
    color: #939393;
}

.checkbox input {
    display: none;
}

.checkbox label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}

.checkbox label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #ffffff;
}

.checkbox label:after {
    content: 0;
    position: absolute;
    width: 8px;
    height: 7px;
    top: 6px;
    left: 3px;
    background: url(/static/desktop/images/icon-check.png) no-repeat;
}

.checkbox input:checked ~ label:after {
    content: '';
}

