.header {
    padding: 13px 0;
    text-align: left;
}

.header li {
    display: inline-block;
    vertical-align: middle;
}

.topbar {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(183, 183, 183, .3);
}

.topbar__rates {
    display: inline-block;
    font-size: 12px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #949494;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.topbar__autorisation {
    float: right;
}

.topbar__item {
    display: block;
    padding-left: 15px;
    box-sizing: border-box;
}

.topbar__item .title4 {
    font-size: 13px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.topbar__item:hover .title4 {
    color: #089e95;
}

.topbar__avatar {
    display: block;
    width: 9px;
    height: 12px;
    padding: 0;
    background: url(/static/desktop/images/icon-avatar.png);
}

.header__nav, .lang {
    display: inline-block;
    vertical-align: top;
}

.header__navlinks {
    display: block;
    margin-right: 20px;
    position: relative;
}

.header__navlinks:after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: -16px;
    width: 6px;
    height: 6px;
    background: url(/static/desktop/images/square-divider.png);
}

.header__nav li:last-child .header__navlinks:after {
    width: 0;
    height: 0;
}

.header__navlinks:hover .title4 {
    color: #089e95;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
