.main-reviews {
    padding: 50px 0;
}

.main-reviews h2 {
    margin-bottom: 25px;
    text-align: center;
}

.main-reviews__item {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 40px;
}

.main-reviews__title {
    font-size: 15px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #9c9c9c;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}

.main-reviews__image {
    width: 273px;
    height: 14px;
    background: url(/static/desktop/images/square-line-long.png);
    margin: 10px 0 20px 0;
}

.main-reviews__text {
    width: 265px;
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
}

.main-reviews__item:nth-child(1) .main-reviews__text {
    float: left;
}

.main-reviews__item:nth-child(2) .main-reviews__text {
    margin: 0 auto;
}

.main-reviews__item:nth-child(3) .main-reviews__text {
    float: right;
}

.main-reviews .button {
    display: block;
    margin: 0 auto;
}