.main-description {
    background: url(/static/desktop/images/bg-2.jpg) no-repeat;
    padding: 50px 0;
}

.main-description h2 {
    margin: 0 0 25px 0;
    text-align: center;
}

.main-description p {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1e1e1e;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}