.main-exchange {
    text-align: left;
    padding-bottom: 60px;
}

.form__input--main-exchange {
    margin-bottom: 10px;
}

.main-exchange-field {
    margin-top: 20px;
}

.main-exchange-field__item {
    display: inline-block;
    vertical-align: top;
}

.from-to-1 {
    width: 23px;
    height: 75px;
    display: inline-block;
    vertical-align: top;
    background: url(/static/desktop/images/icon-to.png);
    position: relative;
    top: 50px;
    margin: 0 35px;
}

.main-exchange-info__item {
    width: 272px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 1px 25px 0;
    line-height: 1.5;
    padding: 16px 60px;
    background: rgba(255, 255, 255, .15);
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.main-exchange-info__amount {
    text-transform: uppercase;
}

.main-exchange .float-right {
    margin-top: -7px;
}

.main-exchange .float-right.button {
    margin-top: -7px;
}