.news .whitefield {
    padding: 15px 35px 10px 35px;
    margin-bottom: 2px;
}

.news .text-whitefield {
    margin-bottom: 5px;
}

.continue a {
    color: #089e95;
    position: relative;
    padding-right: 25px;
}

.continue a:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    width: 16px;
    height: 5px;
    background: url(/static/desktop/images/icon-to4.png) no-repeat;
}

.news__data {
    text-align: right;
}

.news__data p {
    font-size: 14px;
    color: #bcbcbc;
}
