.order-details td:last-child {
    color: #089e95;
}

.order_completed .title4 {
    margin-bottom: 20px;
    font-size: 18px;
}

.order_completed .text-greenfield {
    margin-bottom: 20px;
}

.rateus {
    margin: 25px 0;
}

.rateus td {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #323232;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

.rateus td div {
    display: inline-block;
    vertical-align: middle;
}

.rateus__title {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    margin-right: 40px;
}

.curly {
    width: 7px;
    height: 136px;
    background: url(/static/desktop/images/curly.png) no-repeat;
}
