div.fancy-select {
    margin: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
}

div.fancy-select div.trigger {
    height: 42px;
    border: none;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    color: #1e1e1e;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-exchange div.fancy-select div.trigger {
    width: 305px;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 15px;
}

.order_completed div.fancy-select div.trigger {
    width: 170px;
    background: #f1f1f1;
    font-size: 16px;
    padding: 7px 15px;
    border: 1px solid #ccc;
}

div.fancy-select div.trigger:before {
    width: 0;
    height: 0;
}

div.fancy-select div.trigger:after {
    border: none;
    background: url(/static/desktop/images/triangle.png) center center no-repeat;
    width: 10px;
    height: 6px;
    padding: 5px;
    position: absolute;
    right: 13px;
    top: 50%;
    margin-top: -7px;
}

div.fancy-select ul.options {
    top: 42px;
    height: auto;
    border: 0;
    color: #1e1e1e;
    border-radius: 3px;
}

.main-exchange div.fancy-select ul.options {
    width: 305px;
    font-size: 18px;
}

.order_completed div.fancy-select ul.options {
    width: 170px;
    font-size: 16px;
}

.main-exchange div.fancy-select ul.options.open {
    top: 44px;
    border: none;
}

.order_completed div.fancy-select ul.options.open {
    top: 42px;
    border: 1px solid rgba(183, 183, 183, .3);
}

div.fancy-select ul.options li {
    padding: 0;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1e1e1e;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.main-exchange div.fancy-select ul.options li {
    height: 50px;
    padding: 10px 15px;
    font-size: 18px;
}

.order_completed div.fancy-select ul.options li {
    height: 32px;
    padding: 1px 15px;
    font-size: 16px;
}

.main-exchange div.fancy-select ul.options li.selected {
    background: #ffffff;
    color: #1e1e1e;
}

.order_completed div.fancy-select ul.options li.selected {
    background: #ffffff;
    color: #a0a0a0;
}

.main-exchange div.fancy-select ul.options li:hover, .main-exchange div.fancy-select ul.options li.selected:hover {
    background: #f5f5f5;
    color: #089e95;
}

.order_completed div.fancy-select ul.options li:hover, .order_completed div.fancy-select ul.options li.selected:hover {
    color: #1f1f1f;
}

.order_completed div.fancy-select ul.options li:hover {
    background: #f1f1f1;
}

div.fancy-select ul.options.overflowing, div.fancy-select ul.options.overflowing.open {
    bottom: 42px;
    top: auto;
}

.select-title {
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

.select-cur {
    display: inline-block;
    vertical-align: middle;
    color: #b8b8b8;
    text-transform: uppercase;
}

.header div.fancy-select {
    float: right;
    top: -7px;
}

.header div.fancy-select div.trigger {
    width: 118px;
    height: 28px;
    padding: 5px 10px;
    font-size: 13px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #f1f1f1;
    border: 1px solid rgba(183, 183, 183, .3);
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.header div.fancy-select div.trigger:after {
    border: none;
    background: url(/static/desktop/images/triangle.png) center center no-repeat;
    background-size: 7px 3px;
    width: 7px;
    height: 3px;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -5px;
}

.header div.fancy-select ul.options {
    top: 27px;
    width: 118px;
    height: auto;
    font-size: 12px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #f1f1f1;
    border: 1px solid rgba(183, 183, 183, .3);
    box-sizing: border-box;
    overflow-x: hidden;
}

.header div.fancy-select ul.options li {
    width: 118px;
    height: 26px;
    padding: 7px 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-size: 12px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #323232;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.header div.fancy-select ul.options li.selected {
    background: #f1f1f1;
    color: #323232;
}

.header div.fancy-select ul.options li:hover, .header div.fancy-select ul.options li.selected:hover {
    color: #089e95;
}