.from-to .tcell {
    display: table-cell;
    vertical-align: middle;
}

.currency-img {
    background: url(/static/desktop/images/icon-currency.png);
}

.from-to-2 {
    width: 20px;
    height: 14px;
    background: url(/static/desktop/images/icon-to3.png) no-repeat;
    box-sizing: border-box;
    display: inline-block;
}

.step3 .greenfield {
    padding: 15px 0;
}

.text-whitefield {
    margin: 20px 0;
}

.order__text {
    font-size: 17px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #232323;
}

.order-invoice {
    padding: 2px 0 2px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-invoice .table {
    padding: 20px;
    border-collapse: separate;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.order-invoice td {
    padding: 5px 8px;
}

.order-invoice .text-whitefield {
    padding: 0;
}

.whitefield.from-to {
    margin: 25px 0 0 0;
}

.step3 .twocol {
    vertical-align: middle;
}

.step3 .timer {
    font-size: 65px;
    line-height: 55px;
}

.step3 .timer__img {
    width: 57px;
    height: 57px;
}

.step3 .whitefield .title4 {
  margin-bottom: 0;
}