.table {
    width: 100%;
    border-collapse: collapse;
}

.th, .td {
    font-size: 16px;
    font-family: 'PT Sans Narrow', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    padding: 20px 25px;
}

.th {
    background: #f5f5f5;
    color: #787878;
}

.td {
  color: #1e1e1e;
}

.tcell--50px {
    width: 50px;
}

.tcell--100px {
    width: 100px;
}

.tcell--150px {
    width: 150px;
}

.tcell--200px {
    width: 200px;
}

.tcell--235px {
    width: 235px;
}

.tcell--250px {
    width: 250px;
}

.tcell--300px {
    width: 300px;
}

.tcell--350px {
    width: 350px;
}